.hero{
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


.hero_item{
	margin-top: -80px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hero_square{
	height: 80px;
	width: 80px;
	background-color: #e24938;
	@include mq(md){
		height: 60px;
		width: 60px;
	}
}

.hero_title_wrapper{
	margin-left: 2.0rem;
	padding: 26.5px 0;
	letter-spacing: 0.2rem;
	@include mq(md){
		margin-left: 1.0rem;
	}
}

.hero_title{
	font-size: 2.4rem;
	font-weight: 900;
	line-height: 2.0rem;
	margin: 0 0 10px;
	@include mq(md){
		font-size: 1.8rem;
	}
}

.hero_subtitle{
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.6rem;
	margin: 0;
	@include mq(md){
		font-size: 1.4rem;
	}
}